.navigation-bar{
  margin-bottom: 30px;
}
.heading-with-badge{
  margin-bottom: 15px;
}
.buttons-type{
  margin-bottom: 15px;
}
.btn-group{
  margin-bottom: 15px;
}
.container{
  margin-bottom: 30px;
}
.progress{
  margin-bottom: 10px;
}
.list-group{
  margin-bottom: 15px;
}
.input-group{
  margin-bottom: 10px;
}
.head-title{
  color: #dc3545;
}
